<h2>Tabla</h2>
<table class="table table-light mx-5">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        
        <ng-container *ngFor="let persona of personas index as i">
            <div *ngIf="persona.mayorEdad">
                <tr>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td><input type="radio" name="{{i}}" [(ngModel)]="persona.mayorEdad" [value]=true> +18</td>
                    <td><input type="radio" name="{{i}}" [(ngModel)]="persona.mayorEdad" [value]=false> -18</td>
                </tr>   
                <app-nueva-persona></app-nueva-persona>
            </div>
        </ng-container>
             
    </tbody>
</table>
<div *ngIf="personas[0].mayorEdad; else menorEdad">
    <br>
    {{personas[0].nombre}} es mayor de edad
</div>
<ng-template #menorEdad>
    <div>
        <br>
        {{personas[0].nombre}} es menor de edad
    </div>
</ng-template>
<button>Añadir persona</button>



